extends wrap/html-body.pug

block content
	table.e-wrap
		tr
			td
				table.e(align="center")
					tr
						td
							img(src="./images/img-1.jpg")
					tr
						td.tac.p-20-0-30
							img(src="./images/delimiter.jpg")
					tr
						td.lh-10.p-0-10
							span.tar.full Поступление линеек жидкостей «Smoke Bomb» и «Show me the money»
							br
							span.tal.full у дилеров в Москве (VapeLiga) и в Новосибирске (Дыма Нет)!
					tr
						td
							table.advant
								tr.advant-tr
									td.advant-img
										img(src="./images/icon-1.jpg")
									td.advant-text
										p Жидкости изготовлены из качественных компонентов.
								tr.advant-tr
									td.advant-img
										img(src="./images/icon-2.jpg")
									td.advant-text
										p Линейки имеют крупную маркетинговую поддержку.
								tr.advant-tr
									td.advant-img
										img(src="./images/icon-3.jpg")
									td.advant-text
										p Вкусы оставят яркие впечатления Вашим клиентам <br>и запомнятся надолго.
								tr.advant-tr
									td.advant-img
										img(src="./images/icon-4.jpg")
									td.advant-text
										p Жидкость изготовлена из ароматизаторов со всего мира, <br>нет банальных TPA и Capella.
								tr.advant-tr
									td.advant-img
										img(src="./images/icon-5.jpg")
									td.advant-text
										p Доступная крепость 0, 1.5, 3, 6. Никотин - Merc.
					tr
						td.tac.p-11-0-13
							img(src="./images/delimiter.jpg")
					tr
						td.pb-7
							strong.fz-18.tac.full Обзор на жидкости уже доступен на сайте Vivalacloud.ru
					tr.bg-black
						td.p-10-0
							img(src="./images/img-2.jpg")
					tr.bg-black
						td.p-10-0.tac.full
							a.button-red(href="javascript:;") Читать статью
					tr.bg-black
						td.pt-10
							img(src="./images/img-3.jpg")
					tr.bg-black
						td.p-14-0.tac.full
							a.button-red(href="javascript:;") Читать статью
					tr
						td.header-2
							span.fz-18.tac.full Посмотреть видео обзоры:
					tr
						td
							table.views
								tr.views-tr
									td.views-icon
										img(src="./images/youtube.jpg")
									td.views-button
										a.button-red_2(href="javascript:;") Видео обзор от Vape Maniac BOB
								tr.views-tr
									td.views-icon
										img(src="./images/youtube.jpg")
									td.views-button
										a.button-red_2(href="javascript:;") Видео обзор от Vape Maniac BOB
								tr.views-tr
									td.views-icon
										img(src="./images/youtube.jpg")
									td.views-button
										a.button-red_2(href="javascript:;") Видео обзор от Vape Maniac BOB
					tr.bg-black
						td.p-10-0
							img(src="./images/img-4.jpg")
					tr.bg-1
						td.bg-td.full
							//- .bg-wrap
							p.bg-td-header Морозный сок из яблок и киви
							p Сладкие, сочные яблоки перемешанные со сладким, терпким киви и 3 кубика льда. <br>Как результат – кисло-сладкий повседневный сок.
					tr.bg-2
						td.bg-td.full
							//- .bg-wrap
							p.bg-td-header Клубнично – банановый коктейль
							p Покупаем свежую клубнику, спелые бананы и мороженное. Бросаем в блендер <br>клубнику, банан и мороженное которое растаяло пока шли домой.  <br>Как результат–крутой молочный коктейль от скуки.

					tr.bg-3
						td.bg-td.full
							//- .bg-wrap
							p.bg-td-header Холодный салат из арбуза и дыни
							p Берём спелые арбуз и дыню, нарезаем их кубиками, высыпаем в салатницу <br>и ставим в холодильник. Как результат – отличное средство от жары.
					tr
						td
							table.contact
								tr.contact-logo
									td
										img(src="./images/logo-1.jpg")
									td
										img(src="./images/logo-2.jpg")
								tr.contact-header
									td
										p Контакты для заказа в Москве:
									td
										p Контакты для заказа в Новосибирске:
								tr.contact-links
									td
										ul
											li
												a(
													href="vapeliga.ru"
													target="_blank"
												) vapeliga.ru
											li
												a(
													href="tel:+7 (495) 103-18-88"
												) +7 (495) 103-18-88
											li
												a(
													href="tel:+7 (800) 222-34-88"
												) +7 (800) 222-34-88
									td
										ul
											li
												a(
													href="opt-vape.com"
													target="_blank"
												) opt-vape.com
											li
												a(
													href="mailto:dymanet-opt@outlook.com"
												) dymanet-opt@outlook.com
											li
												a(
													href="tel:+7 (996) 382-03-04"
												) +7 (996) 382-03-04
								tr.contact-buttons
									td
										a.button-black(href="javascript:;") Заказать
									td
										a.button-green(href="javascript:;") Заказать



